<div class="fields">
  <%= f.label :description %>
  <%= f.text_field :description %>
  <%= f.label :dial_code %>
  <%= f.phone_field :dial_code %>
  <%= link_to_remove_fields "remove", f %><br />
</div>
