<p id="notice"><%= notice %></p>

<b>Names:</b><br>
  <% @party.names.each do |n| %>
    <%= n.rest_of_name %> <%= n.surname %><br>
  <% end %>
<br>

<b>Employees:</b><br>
  <% @party.employees.each do |emp| %>
    <%= link_to emp.display_name, emp %><br>
  <% end %> 
<br>

<% if @party.addresses.length > 0 %>
  <b>Addresses:</b>
    <% @party.addresses.each do |a| %>
    <table>
      <tr><td><%= a.function %>:</td>
          <td><%= a.address1 %></td></tr>
      <% unless a.address2.empty? %>
        <tr><td></td><td><%= a.address2 %></td></tr>
      <% end %>
      <tr><td></td><td><%= a.city %>, <%= a.state %> <%= a.zip %></td></tr>
      <br>
    </table>
    <% end %> 
<% end %>
<br>

<b>Sites:</b><br>
  <% @party.sites.each do |s| %>
    <% s.addresses.each do |a| %>
      <table>
        <tr><td><%= s.name %>-<%= a.function %>:</td>
        <% unless a.address1.empty? %>
          <td><%= a.address1 %></td></tr><tr><td></td>
        <% end %>
        <% unless a.address2.empty? %>
          <td><%= a.address2 %></td></tr><tr><td></td>
        <% end %>
        <td><%= a.city %>, <%= a.state %> <%= a.zip %> <%= a.country %></td></tr>
    <% end %>
    <% s.phone_numbers.each do |ph| %>
      <tr><td align="right"><%= ph.description %></td><td><%= ph.dial_code %></td></tr>
    <% end %>
    </table>
  <% end %>
<br>

<b>Phone Numbers:</b><br>
  <table>
  <% @party.phone_numbers.each do |ph| %>
    <tr>
    <td width="30"></td>
    <td><%= ph.description %></td>
    <td><%= ph.dial_code %></td>
    </tr>
  <% end %>
  </table>
<br>

<b>Email Addresses:</b><br>
<table>
  <% @party.email_addresses.each do |em| %>
    <tr>
      <td> <%= em.url %></td>
      <td><%= em.description %></td>
    </tr>
  <% end %>
</table>
<br>

<p>
<% if @party.type == "Person" %>
  <b>Birthday:</b>
  <%= @party.begin_date %>
  <% unless @party.end_date.nil? %>
    <b>Deceased:</b> 
    <%= @party.end_date %>
  <% end %>
<% else %>
  <b>Begin date:</b>
  <%= @party.begin_date %>
  <b>End date:</b>
  <%= @party.end_date %>
<% end %>
</p>


<p>
  <b>Active party:</b>
  <%= @party.active_party_id %>
</p>

<p>
  <b>Superceded date:</b>
  <%= @party.superceded_date %>
</p>

<b>Notes:</b><br>
  <% @party.comments.each do |c| %>
    <%= c.updated_at %> <%= c.text %><br>
  <% end %>
<br>


<%= link_to 'Edit', edit_party_path(@party) %> |
<%= link_to 'Back', parties_path %>
