<%= form_for(@party_relationship_type) do |f| %>
  <% if @party_relationship_type.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@party_relationship_type.errors.count, "error") %> prohibited this party_relationship_type from being saved:</h2>

      <ul>
      <% @party_relationship_type.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :description %><br />
    <%= f.text_field :description %>
  </div>
  <div class="field">
    <%= f.label :first_party_role %><br />
    <%= f.text_field :first_party_role %>
  </div>
  <div class="field">
    <%= f.label :second_party_role %><br />
    <%= f.text_field :second_party_role %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
