<h1>Listing party_relationship_types</h1>

<table>
  <tr>
    <th>Description</th>
    <th>Party1 role</th>
    <th>Party2 role</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @party_relationship_types.each do |party_relationship_type| %>
  <tr>
    <td><%= party_relationship_type.description %></td>
    <td><%= party_relationship_type.first_party_role %></td>
    <td><%= party_relationship_type.second_party_role %></td>
    <td><%= link_to 'Show', party_relationship_type %></td>
    <td><%= link_to 'Edit', edit_party_relationship_type_path(party_relationship_type) %></td>
    <td><%= link_to 'Destroy', party_relationship_type, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Party relationship type', new_party_relationship_type_path %>
